*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html{
  overflow: hidden
}

body{
  width: 100vw;
  height: 100vh;
}

#pageContainer{
  height: 100%;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.getStart{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
}

.started{
  top: 0%;
  transform: translateY(0%);
  height: 20vh;
}

.getStartContent{
  margin: 0 auto;
  width: 900px;
  max-width: 90vw;
  transition: 1s;

}

.startedContent{
  height: 100%;
  width: 500px;
  transition: 1s;
  text-align: center;
}

.image100{
    /* max-width: 100%; */
    max-height: 100%;
    width: 100%;
}

.btn{
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 100%;
}

.upper{
  text-transform: uppercase;
}

.hidden{
  display: none;
}

#contentContainer{
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: 1s;
}

.contentContainerStart{
  bottom: -80vh !important;
}

#content{
  margin: 0 auto;
  background-color: #c8c8c8;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 90%;
  height: 80vh;
}

#options{
  width: 90%;
  margin-left: 40px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#options h1 {
  position: absolute;
  top: 9%;
  left:  34%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;

}

#hotel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#motel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#house{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#hostel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#sections{
  margin: 0 auto;
  width: 95%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sections h1 {
  position: absolute;
  top: 33%;
  left: 7%;
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
}

#sectionsIcons{
  width: 40px;
  height: 40px;
  top: 13px;
  left: 2%;
  position: absolute;
}

#location{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  bottom: 14%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  #location h1 {
    position: absolute;
    top: 13px;
    left: 40px;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

#search_term {
  border-radius: 10px;
  border: none;
  left: 7%;
  top: 30%;
  position:absolute;
  outline: none;
  font-size: 24px;
}

::placeholder{
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  border: none;
}

.checkIn{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  bottom: 5%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
}

  .checkInDD img{
    width: 40px;
    height: 40px;
    top: 20%;
    right: 3%;
    position: absolute;
  }

.checkOut{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  top: 5%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
}

    .checkOutDD img{
      width: 40px;
      height: 40px;
      top: 20%;
      right: 3%;
      position: absolute;
    }

.travellers{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  top: 15%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
  }

    .travellersDD img {
      width: 40px;
      height: 40px;
      top: 20%;
      right: 3%;
      position: absolute;
    }

.search{
  background-color: #808080;
  width: 35%;
  height: 18%;
  position: relative;
  top: 25%;
  left: 31%;
  border: 1px solid #808080;
  border-radius: 10px;
}

#searchTitle !important{
  position: absolute;
  top: 33%;
  left: 7%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}
