*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, html{
  overflow: hidden;
}

body{
  width: 100vw;
  height: 100vh;
}

#pageContainer{
  height: 100%;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.getStart{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 1s;
}

.started{
  top: 0%;
  transform: translateY(0%);
  height: 20vh;
}

.results {
  margin: 0 auto;
  width: 900px;
  max-width: 90vw;
  transition: 1s;
  background-color: red;
}

.getStartContent{
  margin: 0 auto;
  width: 900px;
  max-width: 90vw;
  transition: 1s;
}

.startedContent{
  height: 100%;
  width: 500px;
  transition: 1s;
  text-align: center;
}

.image100{
    /* max-width: 100%; */
    max-height: 100%;
    width: 100%;
}

.btn{
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-family: 'Roboto', sans-serif;
  color: black;
  width: 100%;
  outline: none;
}

.upper{
  text-transform: uppercase;
}

.hidden{
  display: none;
}

.changeColour{
  background-color: red;
}

#contentContainer{
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: 1s;
}

.contentContainerStart{
  bottom: -80vh !important;
}

#content{
  margin: 0 auto;
  background-color: #c8c8c8;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 90%;
  height: 80vh;
}

#options{
  width: 90%;
  margin-left: 40px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#options h1 {
  position: absolute;
  top: 9%;
  left:  34%;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 -8%;
}

#hotel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#motel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#house{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#hostel{
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  width: 20%;
  height: 20%;
  top: 30%;
  left: 2.5%;
}

#sections{
  margin: 0 auto;
  width: 95%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#sections h1 {
  position: absolute;
  top: 33%;
  left: 3%;
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 0 5%;
}

#sectionsIcons{
  width: 40px;
  height: 40px;
  top: 13px;
  left: 2%;
  position: absolute;
}

#location{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  bottom: 14%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
}

#location input {
  position: absolute;
  top: 0;
  width: 88%;
  left: 8%;
  height: 100%;
  border: none;
}

::placeholder{
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  border: none;
}

.checkIn{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  bottom: 7%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
}

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .overlayContent{
        width: 80%;
        background-color: black;
        padding: 10px;
        position: relative;
        z-index: 2;
        left: 11.5%
    }

    #card {
      position: relative;
      width: 100%;
      bottom: 218%;
      left: -1%;
      text-align: center;
      justify-content: center;
    }

    .card-body {
      display: none;
    }

    #card img{
      width: 40px;
      height: 40px;
      top: 50%;
      left: 85.6%;
      position: fixed;
    }

.checkOut{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  top: 2%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
  }

    .cOoverlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    .cOoverlayContent{
        width: 80%;
        background-color: black;
        padding: 10px;
        position: relative;
        z-index: 2;
        left: 11.5%
    }

    #CheckOutcard {
      position: absolute;
      width: 100%;
      bottom: -190%;
      left: -1%;
      text-align: center;
      justify-content: center;
    }

    .CheckOutcard-body {
      display: none;
    }

    #CheckOutcard img{
      width: 40px;
      height: 40px;
      top: 64%;
      left: 85.6%;
      position: fixed;
    }

.guestsOverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.guestsOverlayContent{
    width: 80%;
    background-color: black;
    padding: 10px;
    position: relative;
    z-index: 2;
    left: 11.5%
}

#guestsCard {
  position: absolute;
  width: 100%;
  bottom: -190%;
  left: -1%;
  text-align: center;
  justify-content: center;
}

.guestsCard-body {
  display: none;
}

#guestsCard img{
  width: 40px;
  height: 40px;
  top: 77.5%;
  left: 85.6%;
  position: fixed;
}

.travellers{
  background-color: white;
  width: 94.5%;
  height: 18%;
  position: relative;
  top: 11%;
  left: 2.5%;
  border: 1px solid #808080;
  border-radius: 10px;
  }

    .travellersDD img {
      width: 40px;
      height: 40px;
      top: 20%;
      right: 3%;
      position: absolute;
    }

.search{
  background-color: #808080;
  width: 35%;
  height: 68%;
  position: relative;
  top: 130%;
  left: 31%;
  border: 1px solid #808080;
  border-radius: 10px;
}

.month {
  padding: 60px 25px;
  width: 100%;
  background: #576574;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  width: 100%;
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #576574;
  color: white !important
}


.results {
  background-color: red;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 90%;
  height: 80vh;
  z-index: ;
}
